*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #2c3e50;
  --accent1-color: #c0392b;
  --heading-font: 'Arial', sans-serif;
  --body-font: 'Helvetica', sans-serif;
}

body {
  font-family: var(--body-font);
  color: var(--primary-color);
}

header, main, footer {
  width: 840px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--primary-color);
  display: grid;
  grid-template-columns: auto 1fr;
}

header img {
  width: 100px;
}

nav {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  gap: 2rem;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s;
  border-radius: 4px;
}

h1, h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

p, section, article {
  margin: 16px;
  padding: 8px;
}

.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.9;
  background-color: var(--accent1-color);
  color: white;
}

.hero article {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 1rem;
}

.hero article img {
  float: right;
  width: 125px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--primary-color);
  color: white;
}

.socialmedia {
  display: flex;
  gap: 1rem;
}

.socialmedia a {
  text-decoration: none;
}

.socialmedia img {
  width: 30px;
  height: 30px;
}